<div class="row align-items-center justify-content-center d-flex mt-5">
    <div class="col col-sm-9 col-md-6 col-lg-7 col-xl-5 col-xxl-4">
        <h1 class="mb-3">Passwort vergessen</h1>
        <form [formGroup]="forgotPw" (ngSubmit)="sentResetLink()">
            <div class="mb-4">
                <label for="userIdentifier" class="form-label">E-Mail oder Nutzername</label>
                <input required id="userIdentifier" name="userIdentifier" type="text" class="form-control"
                    formControlName="userIdentifier">
                <invalid-input-msg *ngIf="userIdentifier?.errors && userIdentifier?.invalid && userIdentifier?.touched"
                    [errorObject]="userIdentifier?.errors"></invalid-input-msg>
            </div>
            <button type="submit" class="btn btn-primary">Passwort zurücksetzen</button>
        </form>
    </div>
</div>