<div class="row" *ngIf="portfolioSet">
    <div class="col">
        <h2>{{portfolio?.description}}</h2>
        <h5>{{portfolio?.portfolioType?.description}}</h5>
        <p>Erstellt {{creationDateTime}}</p>
        <p>Gesamtwert XX €</p>
    </div>
    <div class="col text-end">
        <button (click)="activateAddEntry()" class="btn btn-sm btn-success">Eintrag hinzufügen</button>
    </div>
</div>
<div *ngIf="error?.msg" class="alert alert-danger pt-1 pb-1 text-center">
    {{error?.msg}}
</div>
<div *ngIf="addEntryActive" class="mb-5">
    <add-portfolio-entry (portfolioEntryAdded)="portfolioEntryList.updatePortfolioEntries()" [portfolioId]="portfolioId"
        (closeComponent)="activateAddEntry()"></add-portfolio-entry>
</div>
<portfolio-entry-list #portfolioEntryList [portfolioId]="portfolioId"></portfolio-entry-list>