<div class="row">
    <div class="col">
        <h2>{{portfolio?.description}}</h2>
        <h5>{{portfolio?.portfolioType?.description}}</h5>
        <p>Erstellt {{creationDateTime}}</p>
        <p>Gesamtwert XX €</p>
    </div>
    <div class="col text-end">
        <button (click)="activateAddEntry()" class="btn btn-sm btn-success">Eintrag hinzufügen</button>
    </div>
</div>
<div>
    <add-portfolio-entry [portfolioId]="portfolioId" (closeComponent)="activateAddEntry()"
        *ngIf="addEntryActive"></add-portfolio-entry>
</div>
<div *ngIf="error?.msg" class="alert alert-danger pt-1 pb-1">
    {{error?.msg}}
</div>