<div class="d-flex row align-items-center justify-content-center full-height">
  <div class="col-8 col-sm-3 vertical-centered">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="mb-3">
        <label for="userIdentifier" class="form-label">E-Mail oder Nutzername</label>
        <input required id="userIdentifier" name="userIdentifier" ngModel type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Passwort</label>
        <input name="password" ngModel required type="password" class="form-control" id="password">
      </div>
      <div class="mb-3 form-check">
        <input name="stayLoggedIn" ngModel type="checkbox" class="form-check-input" id="stayLoggedIn">
        <label class="form-check-label" for="stayLoggedIn">Angemeldet bleiben</label>
      </div>
      <button type="submit" class="btn btn-primary">Einloggen</button>
      <button ariaCurrentWhenActive="page" routerLink="/registration" routerLinkActive="active" type="submit" class="btn btn-primary float-end">Registrieren</button>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
