<div class="d-flex row align-items-center justify-content-center full-height">
	<div class="col col-sm-9 col-md-6 col-lg-7 col-xl-5 col-xxl-4 mt-5">
		<h1 class="mb-3">Login</h1>
		<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
			<div class="mb-4">
				<label for="userIdentifier" class="form-label">E-Mail oder Nutzername</label>
				<input required id="userIdentifier" name="userIdentifier" type="text" class="form-control"
					formControlName="userIdentifier">
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Passwort</label>
				<input name="password" required type="password" class="form-control" id="password"
					formControlName="password">
			</div>
			<div class="row m-0 mb-2">
				<div class="pb-1 form-check col-12 col-sm-7">
					<input name="stayLoggedIn" type="checkbox" class="form-check-input" id="stayLoggedIn"
						formControlName="stayLoggedIn">
					<label class="form-check-label" for="stayLoggedIn">Angemeldet bleiben</label>
				</div>
				<div class="col-12 col-sm-5 justify-content-sm-end d-sm-flex ps-0 pe-0 pb-3"><a class="small fst-italic"
						alt="Password Reset" routerLink="../forgot-password">Passwort
						vergessen?</a>
				</div>
			</div>
			<div *ngIf="error?.msg" class="alert alert-danger pt-1 pb-1">
				{{error?.msg}}
			</div>
			<button type="submit" class="btn btn-primary">Einloggen</button>
			<button ariaCurrentWhenActive="page" routerLink="../registration" type="submit"
				class="btn btn-primary float-end">Registrieren</button>
		</form>
	</div>
</div>