.max-width-main {
    max-width: 1300px;
}

/* Sorgt dafür, dass Username in der Navbar rechts außen angezeigt wird */
@media screen and (min-width: 576px) {
    .profile-nav-link {
        position: absolute;
        right: 2px;
    }
}

.body {
    min-height: 100vh;
}

.wrapper {
    min-height: 100vh;
}

footer {
    height: 50px;
}