<div class="row mb-3 mt-5">
    <div class="col justify-content-center d-flex">
        <h1 class="mb-3">Datenschutzerklärung</h1>
    </div>
</div>
<div class="row">
    <div class="col justify-content-center d-flex">
        <span>
            <h4 class="mb-3">Grundlegendes</h4>
            <section class="mb-5">
                Diese Datenschutzerklärung soll die Nutzer dieser Website über die Art, den Umfang und den Zweck der
                Erhebung und
                Verwendung personenbezogener Daten durch den Websitebetreiber Michel Bitter informieren.

                Der Websitebetreiber nimmt Ihren Datenschutz sehr ernst und behandelt Ihre personenbezogenen Daten
                vertraulich und
                entsprechend der gesetzlichen Vorschriften. Da durch neue Technologien und die ständige
                Weiterentwicklung
                dieser
                Webseite Änderungen an dieser Datenschutzerklärung vorgenommen werden können, empfehlen wir Ihnen sich
                die
                Datenschutzerklärung in regelmäßigen Abständen wieder durchzulesen.

                Definitionen der verwendeten Begriffe (z.B. “personenbezogene Daten” oder “Verarbeitung”) finden Sie in
                Art.
                4 DSGVO.
            </section>

            <h4 class="mb-3">Cookies</h4>
            <section class="mb-5">
                Diese Website verwendet ausschließlich technisch notwendige Cookies, die für den einwandfreien Betrieb
                der
                Webseite notwendig sind.
                Bei Cookies handelt es sich um kleine Dateien, welche auf Ihrem Endgerät gespeichert werden. Ihr Browser
                greift auf diese Dateien zu.

                Gängige Browser bieten die Einstellungsoption, Cookies nicht zuzulassen. Hinweis: Es ist nicht
                gewährleistet, dass Sie auf alle Funktionen dieser Website ohne Einschränkungen zugreifen können, wenn
                Sie
                entsprechende Einstellungen
                vornehmen.
            </section>

            <h4 class="mb-3">Erfassung und Verarbeitung personenbezogener Daten</h4>
            <section class="mb-5">
                Der Websitebetreiber erhebt, nutzt und gibt Ihre personenbezogenen Daten nur dann weiter, wenn dies im
                gesetzlichen
                Rahmen erlaubt ist oder Sie in die Datenerhebung einwilligen.
                Als personenbezogene Daten gelten sämtliche Informationen, welche dazu dienen, Ihre Person zu bestimmen
                und
                welche zu Ihnen zurückverfolgt werden können – also beispielsweise Ihr Name, Ihre E-Mail-Adresse und
                Telefonnummer.

                Diese Website können Sie auch besuchen, ohne Angaben zu Ihrer Person zu machen.

                Wir verarbeiten personenbezogene Daten wie Vorname, Nachname und E-Mail-Adresse.
                Die Verarbeitung erfolgt nur nach ausdrücklicher Erlaubnis der betreffenden Nutzer und unter Einhaltung
                der geltenden Datenschutzbestimmungn.
                Die Verarbeitung der personenbezogenen Daten erfolgt ausschließlich für die Profilerstellung bzw. dessen
                Nutzung.
                Wird das Nutzerkonto gelöscht, werden umgehend sämtliche personenbezogenen Daten entfernt.
            </section>

            <h4 class="mb-3">Rechte des Nutzers</h4>
            <section class="mb-5">
                Sie haben als Nutzer das Recht, auf Antrag eine kostenlose Auskunft darüber zu erhalten, welche
                personenbezogenen Daten
                über Sie gespeichert wurden. Sie haben außerdem das Recht auf Berichtigung falscher Daten und auf die
                Verarbeitungseinschränkung oder Löschung Ihrer personenbezogenen Daten. Falls zutreffend, können Sie
                auch
                Ihr Recht auf
                Datenportabilität geltend machen. Sollten Sie annehmen, dass Ihre Daten unrechtmäßig verarbeitet wurden,
                können Sie eine
                Beschwerde bei der zuständigen Aufsichtsbehörde einreichen.
            </section>

            <h4 class="mb-3">Löschung von Daten</h4>
            <section class="mb-5">
                Sofern Ihr Wunsch nicht mit einer gesetzlichen Pflicht zur Aufbewahrung von Daten (z. B.
                Vorratsdatenspeicherung)
                kollidiert, haben Sie ein Anrecht auf Löschung Ihrer Daten. Von uns gespeicherte Daten werden, sollten
                sie für ihre
                Zweckbestimmung nicht mehr vonnöten sein und es keine gesetzlichen Aufbewahrungsfristen geben, gelöscht.
                Falls eine
                Löschung nicht durchgeführt werden kann, da die Daten für zulässige gesetzliche Zwecke erforderlich
                sind, erfolgt eine
                Einschränkung der Datenverarbeitung. In diesem Fall werden die Daten gesperrt und nicht für andere
                Zwecke verarbeitet.
            </section>

            <h4 class="mb-3">Widerspruchsrecht</h4>
            <section class="mb-5">
                Nutzer dieser Webseite können von ihrem Widerspruchsrecht Gebrauch machen und der Verarbeitung ihrer
                personenbezogenen
                Daten zu jeder Zeit widersprechen.
                Wenn Sie eine Berichtigung, Sperrung, Löschung oder Auskunft über die zu Ihrer Person gespeicherten
                personenbezogenen
                Daten wünschen oder Fragen bzgl. der Erhebung, Verarbeitung oder Verwendung Ihrer personenbezogenen
                Daten
                haben oder
                erteilte Einwilligungen widerrufen möchten, wenden Sie sich bitte an die im <a
                    routerLink="../impressum">Impressum</a> angegebene E-Mail-Adresse.
            </section>
        </span>

    </div>
</div>