<div class="row justify-content-center">
    <div class="col-4 border border-dark p-2">
        <h6>Neuen Eintrag hinzufügen</h6>
        <form [formGroup]="addPortfolioEntryForm" (ngSubmit)="addPortfolioEntry()">
            <div class="mb-3 form-floating">
                <input required id="description" maxlength="124" name="description" type="text" class="form-control"
                    formControlName="description" placeholder="name@example.com">
                <label for="description" class="form-label">Bezeichnung</label>
                <invalid-input-msg
                    *ngIf="(description?.errors && description?.invalid && description?.touched) || error?.description"
                    [errorObject]="description?.errors" [errorText]="error?.description"></invalid-input-msg>
            </div>
            <div class="mb-3 form-floating">
                <input (blur)="formatCurrency()" (keydown)="onkeydown($event)" (keyup)="checkCurrencyInput($event)"
                    required id="value" maxlength="20" step="0.01" name="value" type="text" class="form-control"
                    formControlName="value" placeholder="0">
                <label for="value" class="form-label">Wert in €</label>
                <invalid-input-msg *ngIf="(value?.errors && value?.invalid && value?.touched) || error?.value"
                    [errorObject]="value?.errors" [errorText]="error?.value"></invalid-input-msg>
            </div>
            <div class="mb-3 form-floating">
                <input required id="datetime" maxlength="124" name="datetime" type="datetime-local" class="form-control"
                    formControlName="datetime" placeholder="0">
                <label for="value" class="form-label">Wertstellungszeitpunkt</label>
                <invalid-input-msg
                    *ngIf="(datetime?.errors && datetime?.invalid && datetime?.touched) || error?.datetime"
                    [errorObject]="datetime?.errors" [errorText]="error?.datetime"></invalid-input-msg>
            </div>
            <div *ngIf="error?.msg" class="alert alert-danger pt-1 pb-1 mt-2">
                {{error?.msg}}
            </div>
            <div *ngIf="successMsg" class="alert alert-success pt-1 pb-1 mt-2">
                {{successMsg}}
            </div>
            <div class="justify-content-end d-flex mt-3">
                <button type="button" (click)="this.closeComponent.emit(true)"
                    class="btn btn-sm btn-primary me-3">Schließen</button>
                <button [disabled]="!addPortfolioEntryForm.valid" type="submit"
                    class="btn btn-sm btn-primary">Speichern</button>
            </div>
        </form>
    </div>
</div>