<div class="row justify-content-center m-2" *ngIf="portfolios.length === 0 && portfoliosSet">
    <div class="col-4">
        <div class="alert alert-warning"><b>Es wurden noch keine Portfolios angelegt!</b>
        </div>
    </div>
</div>
<div class="row justify-content-center m-2" *ngFor="let p of portfolios">
    <button [routerLink]="['/portfolios', p.id]" type="button" class="btn btn-sm btn-light col-2 border border-1"
        title="Portfolio anzeigen">
        <p class="mb-1 text-break"><b>{{p.description}}</b></p>
        <p class="mb-1 text-break">{{p.portfolioType?.description}}</p>
    </button>
</div>