<div class="row align-items-center justify-content-center d-flex mt-5">
    <div class="col col-sm-9 col-md-6 col-lg-7 col-xl-5 col-xxl-4">
        <h1 class="mb-3">Passwort zurücksetzen</h1>
        <form [formGroup]="resetPwForm" (ngSubmit)="resetPw()">
            <div class="mb-4">
                <label for="userIdentifier" class="form-label">E-Mail oder Nutzername</label>
                <input required id="userIdentifier" name="userIdentifier" type="text" class="form-control"
                    formControlName="userIdentifier">
                <invalid-input-msg *ngIf="userIdentifier?.errors && userIdentifier?.invalid && userIdentifier?.touched"
                    [errorObject]="userIdentifier?.errors"></invalid-input-msg>
            </div>
            <div class="mb-4">
                <label for="password" class="form-label">Neues Passwort</label>
                <input required id="password" name="password" type="password" class="form-control"
                    formControlName="password">
                <invalid-input-msg *ngIf="password?.errors && password?.invalid && password?.touched"
                    [errorObject]="password?.errors"></invalid-input-msg>
            </div>
            <div class="mb-4">
                <label for="passwordConfirm" class="form-label">Passwort bestätigen</label>
                <input required id="passwordConfirm" name="passwordConfirm" type="password" class="form-control"
                    formControlName="passwordConfirm">
                <invalid-input-msg
                    *ngIf="passwordConfirm?.errors && passwordConfirm?.invalid && passwordConfirm?.touched"
                    [errorObject]="passwordConfirm?.errors"></invalid-input-msg>
            </div>
            <div *ngIf="successMsg" class="alert alert-success pt-1 pb-1 mt-2">
                {{successMsg}}
            </div>
            <div *ngIf="error?.msg" class="alert alert-danger pt-1 pb-1 mt-2">
                {{error.msg}}
            </div>
            <button type="submit" class="btn btn-primary">Passwort erneuern</button>
        </form>
    </div>
</div>